<div id="search_results"><h1>List of Recipes</h1></div>

<div id="list">
  <% @search_results.each do |recipe| %>
    <p><%= link_to recipe.name, recipe_path(recipe) %></p>
  <% end %>
</div>

<div id="add">
  <% if current_user %>
    <%= link_to 'Add a new Recipe', new_recipe_path %>
    <% else %>
      <p> Please log in to add Recipes </p>
  <% end %>
  <% @recipes.each do |recipe| %>
  <% end %>
</div>

