// Place all the styles related to the Homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.nav-pills {
  background-color: rgb(222, 167, 61);
}

.user_log {
  text-align: right;
}

.title {
  text-align: center;
  font-family: 'Lobster', cursive;
}

.recipe_name {
  font-family: helvetica;
  font-style: italic;
}

#search {
  text-align: center;
  padding: 100px;
}

.home-wrapper {
  background-image: url("https://theproofofthepuddingdotnet.files.wordpress.com/2014/07/ingredients-for-strawberry-muffins.jpg");
  background-position: cover;
}