// Place all the styles related to the Homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.nav-pills {
  background-color: rgb(222, 167, 61);
}

.user_log {
  text-align: right;
}

.title {
  text-align: center;
  font-family: 'Lobster', cursive;
}

.recipe_name {
  font-family: helvetica;
  font-style: italic;
}

#search {
  text-align: center;
  padding: 100px;
}

.home-wrapper {
  background-image: url("https://theproofofthepuddingdotnet.files.wordpress.com/2014/07/ingredients-for-strawberry-muffins.jpg");
  background-position: cover;
}

.form {
  margin-left: auto;
  margin-right: auto;

  max-width: 500px;
  background: #FFF;
  padding: 20px 30px 20px 30px;
  font: 12px "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #888;
  text-shadow: 1px 1px 1px #FFF;
  border: 1px solid #DDD;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
}

.form_name {
  font: 25px "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding: 0px 0px 10px 40px;
  display: block;
  border-bottom: 1px solid #DADADA;
  margin: -10px -30px 30px -30px;
  color: #888;
}

.form_name>span {
  display: block;
  font-size: 11px;
}

.form_desc {
  display: block;
  margin: 0px 0px 5px;
}

.form_desc>span {
  float: left;
  width: 20%;
  text-align: right;
  padding-right: 10px;
  margin-top: 10px;
  color: #333;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
}

.method {
  color: #888;
  height: 20px;
  line-height: 15px;
  margin-bottom: 16px;
}

submit .button:hover {
  color: #333;
  background-color: #EBEBEB;
  border-color: #ADADAD;
  margin: 0 auto;
  padding: 15px;
}

#recipe_image {
  margin: 0 auto;
  padding: 15px;
  font-family: helvetica;
  font-size: 16px;
}

.picture {
  margin-right: 10px;
}
